// -----------------------------------------------------------------------------
// This file contains all css styles for react-boostrap-table component.
// -----------------------------------------------------------------------------

/**
 *  REACT-BOOTSTRAP-TABLE
 */
.react-bs-table-tool-bar {
    margin-bottom: spacing(2) !important;
    button {
        color: color("white") !important;
        background-color: color("primaryColor") !important;
        &:hover,
        &:focus,
        &:active {
            color: color("white") !important;
            background-color: color("primaryColor") !important;
        }
    }
}

.react-bs-table-container tr {
    cursor: pointer !important;
}

.react-bs-table {
    border-radius: spacing(1) !important;
    box-shadow: 0 spacing(0.1) spacing(0.4) 0 color("shadow") !important;
    overflow-x: auto !important;
    table {
        margin-bottom: 0 !important;
        & td {
            background-color: color("white") !important;
        }
        & thead {
            th {
                vertical-align: middle !important;
                background-color: color("white") !important;
            }
        }
    }
}

.react-bs-table-pagination {
    .pagination {
        justify-content: flex-end !important;
        .page-item {
            .page-link {
                background-color: color("secondaryColor") !important;
                border-color: color("primaryColor") !important;
                color: color("primaryColor") !important;
            }
        }
        .active {
            .page-link {
                background-color: color("primaryColor") !important;
                border-color: color("primaryColor") !important;
                color: color("white") !important;
            }
        }
    }
}
