// -----------------------------------------------------------------------------
// This file contains all css styles for button component.
// -----------------------------------------------------------------------------

/**
 *  BUTTON
 */
.button-custom {
    color: color("white") !important;
    background-color: color("primaryColor") !important;
    border: spacing(.1) solid color("primaryColor") !important;
    &:hover,
    &:focus,
    &:active {
        color: color("white") !important;
        background-color: color("primaryColor") !important;
        border: spacing(.1) solid color("primaryColor") !important;
    }
}