// -----------------------------------------------------------------------------
// This file contains all css styles for card component.
// -----------------------------------------------------------------------------

/**
 *  CARD
 */
.confirm__card {
    border-radius: spacing(1) !important;
    overflow: hidden !important;
    box-shadow: 0 spacing(0.1) spacing(0.4) 0 color("shadow") !important;
    .card-header {
        color: color("white") !important;
        background-color: color("primaryColor") !important;
        font-size: fontSize("fs-6") !important;
        text-align: center !important;
    }
}