// -----------------------------------------------------------------------------
// This file contains all css styles for inform card component.
// -----------------------------------------------------------------------------

/**
 *  Inform
 */
.inform__card {
    border-radius: spacing(1) !important;
    border: spacing(.1) solid color("primaryColor") !important;
    overflow: hidden !important;
    box-shadow: 0 spacing(0.1) spacing(0.4) 0 color("shadow") !important;
    .card-header {
        color: color("white") !important;
        background-color: color("primaryColor") !important;
        font-size: fontSize("fs-6") !important;
        text-align: center !important;
    }
    .card-body {
        svg {
            height: spacing(15);
            width: spacing(12);
        }
        p {
            width: spacing(50);
        }
        p,
        span {
            font-size: fontSize("fs-5");
        }
    }
}
