// -----------------------------------------------------------------------------
// This file contains all css styles for loading.
// -----------------------------------------------------------------------------

/**
 *  loading
 */
.circle-loading-overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: color("shadow"); /* Black background with opacity */
    z-index: 9999; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
.circle-loading {
    z-index: 9999;
    display: inline-block;
    width: spacing(6);
    height: spacing(6);
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    &:after {
        content: " ";
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: spacing(0.5) solid color("primaryColor");
        border-color: color("primaryColor") transparent;
        animation: circle-loading 0.6s forwards infinite linear;
    }
}

@keyframes circle-loading {
    to {
        transform: rotate(360deg);
    }
}
