// -----------------------------------------------------------------------------
// This file contains all css styles for modal component.
// -----------------------------------------------------------------------------

/**
 *  MODAL
 */
.modal-dialog {
    overflow: hidden !important;
    box-shadow: 0 spacing(0.1) spacing(0.4) 0 color("shadow") !important;
}
.md-800 {
    max-width: spacing(80) !important;
}
.md-1000 {
    max-width: spacing(100) !important;
}
