// -----------------------------------------------------------------------------
// This file contains all home page styles.
// -----------------------------------------------------------------------------

/* HOME PAGE */
.home-page {
    margin-top: spacing(12);
    &__content {
        width: 100%;
        @include whiteShadowBoard(
            100%,
            inherit,
            spacing(1.5),
            spacing(2),
            color("white"),
            spacing(0.5),
            hidden,
            0 spacing(0.1) spacing(0.6) 0 color("shadow")
        );
        label {
            text-transform: uppercase;
            margin-bottom: 0;
        }
        span {
            display: block;
            margin-bottom: spacing(0.5);
        }
        .button-refresh {
            position: absolute;
            bottom: 0;
            right: 0;
        }
        .home__page__submit {
            position: relative;
            display: flex;
            button {
                margin: spacing(1.2) auto;
            }
        }
    }
}
