// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none !important;
    box-shadow: none !important;
}

/**
 * Browser support HTML5
 */
header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}

/**
 * Basic styles for scroll bars
 */
html,
body {
    @include customScrollBar(spacing(0.5), color("secondaryColor"), spacing(0), color("primaryColor"), spacing(0));
}

body {
    //background-color: color("extraExtraLightGrey") !important;
    background-image: url('./../../img/others/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/**
 * Basic styles for links
 */
a {
    text-decoration: none !important;
}

// cursor-pointer global
.cur-pointer {
    cursor: pointer;
}

/** text color */
.text-custom-color {
    color: color("primaryColor");
}
.danger-color {
    color: color("red");
}

/**
 * Basic styles for container bootstrap
 */
.container {
    max-width: 80% !important;
    min-height: spacing(50) !important;
    margin: 0 auto !important;
    padding: 0 !important;
}
