// -----------------------------------------------------------------------------
// This file contains all footer styles.
// -----------------------------------------------------------------------------

/* FOOTER */
.footer {
    margin-top: spacing(6);
    background-color: color("white");
    box-shadow: 0 spacing(0.1) spacing(0.6) 0 color("shadow") !important;
    &__content {
        width: 80%;
        margin: 0 auto;
        padding-top: spacing(1.5);
    }
}
