// -----------------------------------------------------------------------------
// This file contains all header styles.
// -----------------------------------------------------------------------------

/* HEADER */
.headerSticky {
    box-shadow: 0 spacing(0.1) spacing(0.6) 0 color("primaryColor") !important;
    z-index: 999;
}
body.modal-open {
    .header__wrapper {
        width: calc(100% - 16px);
    }
}
.header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: spacing(.5) 0;
    background:#0146909f;
    box-shadow: 0 spacing(0.1) spacing(0.6) 0 color("shadow") !important;
    &__content {
        width: 80%;
        margin: 0 auto;
        padding: spacing(0.5) 0;
        .row {
            align-items: center;
        }
        .header__logo {
            img {
                display: block;
                height: spacing(6);
                width: spacing(20);
                background-color: color("white");
                border: spacing(.1) solid color("primaryColor");
                border-radius: spacing(1);
            }
        }
        .header__title {
            float: right;
            p {
                display: inline;
                margin: 0;
                font-size: fontSize("fs-4");
                font-weight: fontWeight("fw-bold");
                color: color("primaryColor");
                text-transform: uppercase;
                padding: spacing(1.4) spacing(1);
                background-color: color("white");
                border: spacing(.1) solid color("primaryColor");
                border-radius: spacing(1);
            }
        }
    }
}
