/**
 * Set up a decent box model on the root element
 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none !important;
  box-shadow: none !important;
}

/**
 * Browser support HTML5
 */
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}

/**
 * Basic styles for scroll bars
 */
html,
body {
  /* width */
  /* Track */
  /* Handle */
}

html ::-webkit-scrollbar,
body ::-webkit-scrollbar {
  width: 5px !important;
}

html ::-webkit-scrollbar-track,
body ::-webkit-scrollbar-track {
  background: #fffc00 !important;
  border-radius: 0px !important;
}

html ::-webkit-scrollbar-thumb,
body ::-webkit-scrollbar-thumb {
  background: #014590 !important;
  border-radius: 0px !important;
}

body {
  background-image: url("./../../img/others/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/**
 * Basic styles for links
 */
a {
  text-decoration: none !important;
}

.cur-pointer {
  cursor: pointer;
}

/** text color */
.text-custom-color {
  color: #014590;
}

.danger-color {
  color: #dc3545;
}

/**
 * Basic styles for container bootstrap
 */
.container {
  max-width: 80% !important;
  min-height: 500px !important;
  margin: 0 auto !important;
  padding: 0 !important;
}

/**
 * Font-family using for website
 */
body {
  font-family: "Lato", sans-serif !important;
}

/**
 * Basic typography style for copy text
 */
html,
body {
  color: #14171a;
  font-size: 16px;
}

/* HEADER */
.headerSticky {
  box-shadow: 0 1px 6px 0 #014590 !important;
  z-index: 999;
}

body.modal-open .header__wrapper {
  width: calc(100% - 16px);
}

.header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  background: #0146909f;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28) !important;
}

.header__content {
  width: 80%;
  margin: 0 auto;
  padding: 5px 0;
}

.header__content .row {
  align-items: center;
}

.header__content .header__logo img {
  display: block;
  height: 60px;
  width: 200px;
  background-color: #ffffff;
  border: 1px solid #014590;
  border-radius: 10px;
}

.header__content .header__title {
  float: right;
}

.header__content .header__title p {
  display: inline;
  margin: 0;
  font-size: 25px;
  font-weight: 700;
  color: #014590;
  text-transform: uppercase;
  padding: 14px 10px;
  background-color: #ffffff;
  border: 1px solid #014590;
  border-radius: 10px;
}

/* FOOTER */
.footer {
  margin-top: 60px;
  background-color: #ffffff;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28) !important;
}

.footer__content {
  width: 80%;
  margin: 0 auto;
  padding-top: 15px;
}

/**
 *  MODAL
 */
.modal-dialog {
  overflow: hidden !important;
  box-shadow: 0 1px 4px 0 rgba(32, 33, 36, 0.28) !important;
}

.md-800 {
  max-width: 800px !important;
}

.md-1000 {
  max-width: 1000px !important;
}

/**
 *  loading
 */
.circle-loading-overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: block;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(32, 33, 36, 0.28);
  /* Black background with opacity */
  z-index: 9999;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

.circle-loading {
  z-index: 9999;
  display: inline-block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.circle-loading:after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid #014590;
  border-color: #014590 transparent;
  animation: circle-loading 0.6s forwards infinite linear;
}

@keyframes circle-loading {
  to {
    transform: rotate(360deg);
  }
}

/**
 *  CARD
 */
.confirm__card {
  border-radius: 10px !important;
  overflow: hidden !important;
  box-shadow: 0 1px 4px 0 rgba(32, 33, 36, 0.28) !important;
}

.confirm__card .card-header {
  color: #ffffff !important;
  background-color: #014590 !important;
  font-size: 18px !important;
  text-align: center !important;
}

/**
 *  Inform
 */
.inform__card {
  border-radius: 10px !important;
  border: 1px solid #014590 !important;
  overflow: hidden !important;
  box-shadow: 0 1px 4px 0 rgba(32, 33, 36, 0.28) !important;
}

.inform__card .card-header {
  color: #ffffff !important;
  background-color: #014590 !important;
  font-size: 18px !important;
  text-align: center !important;
}

.inform__card .card-body svg {
  height: 150px;
  width: 120px;
}

.inform__card .card-body p {
  width: 500px;
}

.inform__card .card-body p,
.inform__card .card-body span {
  font-size: 20px;
}

/**
 *  BUTTON
 */
.button-custom {
  color: #ffffff !important;
  background-color: #014590 !important;
  border: 1px solid #014590 !important;
}

.button-custom:hover, .button-custom:focus, .button-custom:active {
  color: #ffffff !important;
  background-color: #014590 !important;
  border: 1px solid #014590 !important;
}

/**
 *  REACT-BOOTSTRAP-TABLE
 */
.react-bs-table-tool-bar {
  margin-bottom: 20px !important;
}

.react-bs-table-tool-bar button {
  color: #ffffff !important;
  background-color: #014590 !important;
}

.react-bs-table-tool-bar button:hover, .react-bs-table-tool-bar button:focus, .react-bs-table-tool-bar button:active {
  color: #ffffff !important;
  background-color: #014590 !important;
}

.react-bs-table-container tr {
  cursor: pointer !important;
}

.react-bs-table {
  border-radius: 10px !important;
  box-shadow: 0 1px 4px 0 rgba(32, 33, 36, 0.28) !important;
  overflow-x: auto !important;
}

.react-bs-table table {
  margin-bottom: 0 !important;
}

.react-bs-table table td {
  background-color: #ffffff !important;
}

.react-bs-table table thead th {
  vertical-align: middle !important;
  background-color: #ffffff !important;
}

.react-bs-table-pagination .pagination {
  justify-content: flex-end !important;
}

.react-bs-table-pagination .pagination .page-item .page-link {
  background-color: #fffc00 !important;
  border-color: #014590 !important;
  color: #014590 !important;
}

.react-bs-table-pagination .pagination .active .page-link {
  background-color: #014590 !important;
  border-color: #014590 !important;
  color: #ffffff !important;
}

/**
 *  TOOLTIP
 */
/* HOME PAGE */
.home-page {
  margin-top: 120px;
}

.home-page__content {
  width: 100%;
  width: 100%;
  height: inherit;
  padding: 15px;
  margin-bottom: 20px;
  background: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28) !important;
}

.home-page__content label {
  text-transform: uppercase;
  margin-bottom: 0;
}

.home-page__content span {
  display: block;
  margin-bottom: 5px;
}

.home-page__content .button-refresh {
  position: absolute;
  bottom: 0;
  right: 0;
}

.home-page__content .home__page__submit {
  position: relative;
  display: flex;
}

.home-page__content .home__page__submit button {
  margin: 12px auto;
}
