// -----------------------------------------------------------------------------
// This file contains all application-wide Sass functions.
// -----------------------------------------------------------------------------

// function get color from colors
@function color($color) {
    @if map-has-key($map: $colors, $key: $color) {
        @return map-get($map: $colors, $key: $color);
    }
    @return "";
}

// function get font-size from font-sizes
@function fontSize($fontSize) {
    @if map-has-key($map: $font-sizes, $key: $fontSize) {
        @return map-get($map: $font-sizes, $key: $fontSize);
    }
    @return "";
}

// function get font-weight from font-weights
@function fontWeight($fontWeight) {
    @if map-has-key($map: $font-weights, $key: $fontWeight) {
        @return map-get($map: $font-weights, $key: $fontWeight);
    }
    @return "";
}

// function get fontFamily from font-family
@function fontFamily($fontFamily) {
    @if map-has-key($map: $font-family, $key: $fontFamily) {
        @return map-get($map: $font-family, $key: $fontFamily);
    }
    @return "";
}

// function handle spacing
@function spacing($num) {
    @return $num * $defaultSpacing;
}