// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

// CUSTOM SCROLLBAR
@mixin customScrollBar($width, $trackColor, $trackBorderR, $thumbColor, $thumbBorderR) {
    /* width */
    ::-webkit-scrollbar {
        width: $width !important;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        background: $trackColor !important;
        border-radius: $trackBorderR !important;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $thumbColor !important;
        border-radius: $thumbBorderR !important;
    }
}

// WHITE-SHADOW BOARD
@mixin whiteShadowBoard($width, $height, $padding, $marginB, $bgColor, $bRadius, $overflow, $boxShadow) {
    width: $width;
    height: $height;
    padding: $padding;
    margin-bottom: $marginB;
    background: $bgColor;
    border-radius: $bRadius;
    overflow: $overflow;
    box-shadow: $boxShadow !important;
}

